<nav class="navbar d-flex justify-content-between">
  <%= link_to "Cocktails", root_path, class: "btn btn-ghost" %>
  <%= link_to "Add Cocktail", new_cocktail_path, class: "btn btn-ghost" %>
</nav>

<div class="container-body">
  <h1> Imagine. Feel. Enjoy.</h1>
  <p>Make a list of the best cocktails in your city! Customized them with their ideals doses <i class="fas fa-cocktail"></i></p>
  <div class="container-grid">
    <div class="cards">
      <% @cocktails.each do |cocktail| %>
        <div class="card-cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/featured/?=<%=cocktail.name%>)">
          <%= link_to "#{cocktail.name}", cocktail_path(cocktail), class: "cocktail-name" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
