.navbar {
    background-color: rgb(0, 0, 0);
}

.container-form {
    width: 100vw;
    height: 100vh;
    padding: 50px;
    background-color: rgb(97, 97, 97);

    .default_class {
        width: 500px;
    }

    .black {
        background-color: black;
        padding: 6px 20px;
        margin-top: 15px;

        &:hover {
            background-color: #ef8a00;
        }
    }
}